<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wildberries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная страница</a>
            </li>
            <li>
                {% include 'category_menu.html' %}
            </li>
            <li class="nav-item">
                <form action="{{ url_for('marketplace.search_result') }}" class="form-inline my-2 my-lg-0"
                      method="POST">
                    {{ search_form.hidden_tag() }}
                    {{ search_form.search_input() }}
                    {{ search_form.submit() }}
                </form>
                <div id="search_box-result"></div>
            </li>
        </ul>

        <ul class="navbar-nav">
            <a class="nav-link" id="cart_icon" href="{{ url_for('marketplace.cart') }}">
                Корзина
                {% if number_products_in_cart %}
                    ({{ number_products_in_cart }})
                {% endif %}
            </a>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">Привет, {{ current_user.email }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.logout') }}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.sms_auth') }}">Авторизация по смс</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.register') }}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.login') }}">Войти</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
