<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
        <div class="col" style="margin-bottom: 15px">
            <div class="card h-100" style="width: 18rem">
                <img src="{% if product.photo %}{{ product.photos[0].photos_path }}{% endif %}" class="card-img-top" -->
                     alt="{{ product.name }}">
                <div class="card-body">
                    <a href="{{ url_for('marketplace.product_page', product_id=product.id) }}">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </a>
                    <p class="card-text"> {{ product.description }}</p>
                    <p class="card-text"> Цвет: {{ product.color }}</p>
                    <p class="card-text"> Размеры: {{ product.size }}</p>
                    <p class="card-text"> Цена: {{ product.price }} руб.</p>
                    <a href="{{ url_for('marketplace.product_page', product_id=product.id) }}"
                       class="btn btn-primary">Подробнее о товаре</a>
                    {% include 'marketplace/favorite_area.html' %}
                    {% include 'add_to_cart_section.html' %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
