{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">    
                {{ message }}<br>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-4">
            <form action="{{ url_for('marketplace.process_add_product') }}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.category.label }}
                    {{ form.category() }}
                </div>
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name() }}
                </div>
                <div class="form-group">
                    {{ form.price.label }}
                    {{ form.price() }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description() }}
                </div>
                <div class="form-group">
                    {{ form.brand_name.label }}<br>
                    {{ form.brand_name() }}
                </div>
                <div class="form-group">
                    {{ form.color.label }}<br>
                    {{ form.color() }}
                </div>
                <div class="form-group">
                    {{ form.gender.label }}<br>
                    {{ form.gender() }}
                </div>
                <div class="form-group">
                    {{ form.size.label }}<br>
                    {{ form.size() }}
                </div>
                <div class="form-group">
                    {{ form.photos.label }}<br>
                    {{ form.photos() }}
                </div>
                <div class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
        <div class="col-8">
        </div>
    </div>
{% endblock %}