{% if current_user.is_authenticated %}
        {% if is_user_add_product_to_favorite(current_user, product) %}
            <a class="transperant-btn" href="{{ url_for('marketplace.del_favorite_product', product_id=product.id) }}">
                <i class="bi bi-heart-fill"></i>
            </a>
        {% else %}
            <a class="transperant-btn" href="{{ url_for('marketplace.add_favorite_product', product_id=product.id) }}">
                <i class="bi bi-heart"></i>
            </a>
        {% endif %}
{% endif %}
