{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row 12">
                {% for product in products %}
                    <div class="col-md-4">
                        <img src="{{ product.photos_path }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text"> {{ product.description }}</p>
                            <p class="card-text"> Цвет: {{ product.color }}</p>
                            <p class="card-text"> Размеры: {{ product.size }}</p>
                            <p class="card-text"> Цена: {{ product.price }} руб.</p>
                            {% include 'marketplace/favorite_area.html' %}
                            {% include 'add_to_cart_section.html' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-6">
                <h5 class="card-title"><a href="{{ url_for('user.login', next=request.full_path) }}">Авторизуйтесь</a>,
                    чтобы добавить товары в избранное</h5>
            </div>
        </div>
    {% endif %}
{% endblock %}

